/* inbox.css */

.inbox-container {
    margin-left: 250px; /* Adjust the left margin based on your MiniDrawer width */
    padding: 20px;
  }
  
  .compose-button {
    top: 20px;
    margin-left: 1100px;
  }
  
  .inbox-list {
    list-style-type: none;
    padding: 0;
    max-width: 500px;
  }
  
  .inbox-item {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 200%; /* Adjust the width as needed */
  }
  
  .inbox-item:hover {
    background-color: #f5f5f5;
  }
  
  .inbox-item-header {
    display: flex;
    justify-content: space-between;
  }
  
  .inbox-item-sender {
    font-weight: bold;
  }
  
  .inbox-item-subject {
    color: #555;
  }
  
  .inbox-item-text {
    margin-top: 5px;
  }
  